.container
  if user && user.username
    .row
      .col-md-12
        .well
          h1 Lama Logged in!
          h3 Hello: #{user.username}
          p.small Lama Id: #{user.id}
          p.small Email: #{user.email}
  block content
