extends ../layouts/layout

block content
  .jumbotron
    h1 Welcome All Lamas &nbsp;&nbsp;
      img(src="http://stuffpoint.com/animal-lovers/image/86759-animal-lovers-lama.jpg", alt="Lamas", width=190)
    p
      a.btn.btn-lg.btn-primary(href='http://www.dalailama.com/gallery#ad-image-0', role='button') View Gallery of lamas »

  .row
    .col-md-12
      h1 Do what all lamas came to do
      p.lead In this application you can:
      ul
        li
          a(href='/login') Login to your local account using either cookies/sessions or tokens
